* {
	margin: 0;
	padding: 0;
}

body{
	background: #cdcbcb;
	font-family: Arial, serif;
}

.bl-background {
	background: #cdcbcb;
	padding-top: 100px;
	margin-left: 100px;
	margin-right: 100px;
}

.bl-list {
	background: white;
	width: 520px;
	padding: 10px;
	margin: 12px;
	display: inline-block;
}

.bl-bought {
	background: white;
	padding: 10px;
	margin: 12px;
	display: inline-block;
}

.line {
	border-bottom: 1px solid #deddd8;
}

.bl-product1, .bl-product2, .bl-product3 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.bl-search {
	padding: 5px 10px 15px;
}
input {
	width: 415px;
	height: 30px;
	padding: 5px;
}
.bl-search-button {
	background: cornflowerblue;
	color: #ffffff;
	padding: 4px;
	width: 70px;
	height: 44px;
	margin-left: -5px;
}

.product1-cross, .product2-cross, .product3-cross {
	background: #ff5c4f;
	display: inline;
	color: white;
	width: 25px;
	height: 25px;
}
.product1-minus, .product2-minus, .product3-minus {
	background: #ff5c4f;
	color: white;
	display: inline;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	margin-left: 19%;
}

.product1-plus, .product2-plus, .product3-plus {
	background: #09c401;
	color: white;
	display: inline;
	border-radius: 50%;
	width: 25px;
	height: 25px;
}

.product1-name, .product1-count, .product1-buttons, .product2-name, .product2-count, .product2-buttons, .product3-name, .product3-count, .product3-buttons {
	display: inline;
	padding: 10px;
}

.product1-bought-button, .product2-bought-button, .product3-bought-button {
	margin-left: 20%;
	height: 25px;
	width: 60px;
}
.product2-minus {
	margin-left: 22%;
}
.product3-minus {
	margin-left: 26.8%;
}

.product1-count-label, .product2-count-label, .product3-count-label {
	background: #dad9d4;
	padding: 5px 10px;
	border-radius: 20%;
}


